<div class="sidebar">
  <div class="sidebar_heading">Profiles</div>
  <div class="search_bar">
    <label for="searchInput" class="search_label">Search User</label>
    <input
      type="text"
      id="searchInput"
      placeholder="Search..."
      [(ngModel)]="searchInput"
    />
  </div>
    
    <div class="users">
      <app-user
        *ngFor="let user of users | sidebarSearchInput : searchInput"
        [user]="user"
        (userSelectedClicked)="userGotSelected($event)"
        [ngClass]="{ 'makeUserSticky': user.username===selectedUsername, 'userTypeAdmin': user.userType === 'Admin', 'userTypeUser':user.userType==='User'}"
        [selectedUsername]="selectedUsername"
      ></app-user>
    </div>
</div>


