.topbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px dashed black;
    background-color: #accced;
    .topbar_options{
        margin: 30px;
        display: flex;
        align-items: center;    
    }
}


.user_count{
    margin: 30px;
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-weight:bolder;
}