.user_data {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
  width: 20vw;
  justify-content: space-between;
  .profile_photo {
    text-align: center;
    margin: 5px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  .edit_btn {
    margin-left: 5px;
    margin-right: 15px;
    font-size: 10px;
    .edit_icon {
      font-size: 10px;
    }
    .mat-icon {
      height: 5px;
      width: 5px;
    }
  }

  .sidebar_data{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.selectedUser {
  z-index: 1;
  background: #4663ac;
}
.user_data:hover {
  background-color: #80808042;
  // transform: scale(1.1);
}
