<div class="home_container">
  <div class="sidebar_container">
    <app-sidebar [selectedUsername]="selectedUsername" [users]="users"  (userSelectedClicked)="userGotSelected($event)"></app-sidebar>
  </div>
  <div class="main_container">
    <div class="topbar_container">
      <app-topbar (addUserClick)="handleAddUserClick()">
        <div class="user_count">
          Total: {{profile_count}}
        </div>
      </app-topbar>
    </div>
    <div class="form_container">
      <app-form [dataError]="dataError"  [baseProfilePath]= "baseProfilePath" [user_data]="user_data" (FormOptionClicked)="FormOptionClicked($event)" [isEditMode]="isEditMode"></app-form>
    </div>
  </div>
</div>
